.game-container {
  padding-bottom: 1.5625rem;
  flex: 1 0 auto;
}

.card-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
