.card {
  cursor: pointer;
  margin: 1rem;
}

.card .img-container {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  width: 185px;
  margin: 1rem;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
