@keyframes correct {
  0% {
    color: #fff;
  }
  50% {
    color: #2e7d32;
  }
  to {
    color: #fff;
  }
}

@keyframes incorrect {
  0% {
    color: #fff;
  }
  50% {
    color: #ff6563;
  }
  to {
    color: #fff;
  }
}

.navbar {
  background-color: #630100;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
  margin-bottom: 0;
  min-height: 5rem;
  z-index: 99;
}

a.navbar-brand {
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
  font-weight: 700;
}

.navbar .user-message {
  color: #ffffff;
}

.navbar .correct {
  animation: 0.4s correct;
}

.navbar .incorrect {
  animation: 0.4s incorrect;
}
