.jumbotron {
  background-color: #7c0100;
  background-image: url(./05-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 6rem 1.25rem 1rem 1.25rem;
  position: relative;
  width: 100%;
}

.caption p.instructions {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  .jumbotron {
    height: 16rem;
    padding-top: 7.5rem;
    padding-bottom: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    height: 18rem;
  }

  .caption p.instructions {
    font-size: 1.575rem;
  }
}

@media screen and (min-width: 992px) {
  .jumbotron {
    padding-top: 7.5rem;
  }
}
