.footer {
  background-color: #7c0100;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  height: 5rem;
  justify-content: flex-end;
  width: 100%;
}

.footer .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.footer .container-fluid p {
  background: #630100;
  font-weight: 600;
  margin: 0;
  padding: 5px 5px 5px 10px;
  width: 100%;
}

.react-logo {
  width: 30px;
}
