html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(14px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-10px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(14px, 0, 0);
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}

.clicky-game {
  background-image: url(assets/brickwall.png);
  background-repeat: repeat;
}
